= javascript_include_tag 'feed.js'

- content_for :page_title do
  DA'n'A / Feed

#feed
  - @usr_data.each do |entry|
    %div( class="post" )
      - fields = @usr_tasks[entry.task_id.to_s]['objects'].to_a
      %p( class="post-head block-border" )
        %span( class="highlight" )
          #{fields[0]['name']}:
        #{entry[fields[0]['name']]}

      %div( class="post-body block-border" )
        - (1..fields.size-1).each do |i|
          %p( class="indent" )
            %span( class="highlight" )
              #{fields[i]['name']}:
            #{entry[fields[i]['name']]}