- content_for :page_title do
  DA'n'A / Tasks

%div( id="success-dialog" title="Success" class="dialog-message" )
  %p
    The action completed successfully!

%div( id="deletion-confirm" title="Deletion confirmation" class="dialog-message" )
  %p
    %span( class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;")
    Deleted data cannot be recovered. Are you sure want to delete this task?

%div( id="upload-confirm" title="Uploading confirmation" class="dialog-message" )
  %p
    %span( class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;")
    Are you sure want to create new task?

#upload
  %h1( class="highlight" )
    Task editor:
  %textarea( id="task-edit-area" rows="20" cols="80"  class="user-form text ui-widget-content ui-corner-all" title="Put your task here" )
  %button( id="upload-task-btn" )
    Upload

#tasks-list
  %h1( class="highlight" )
    Your tasks:
  - @user_tasks.each do |task|
    %div
      %button( class="task-title highlight")
        #{task.title}
      %button( id="#{task._id}" class="delete-task" title="Delete task '#{task.title}'" )

