/*GLOBAL*/
body {
    background-image: url("images/ui-bg_fine-grain_30_222222_60x60.png");
    font-size: 70%;
    min-width: 800px;
    min-height:  720px;
    color: white;
}

.block-border {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border: 1px solid #666;
}

.indent {
    text-indent: 20px;
}

a {
    color: white;
}

a:visited {
    color: #999;
}

a:hover {
    color: #ffc500;
}

.highlight {
    color: #ffc500;
    /*font-size: 1.0em;*/
    font-weight: bold;
}

.menu-btn {
    float: left;
    width: 90px;
    margin-left: -.3em;
}


/*HEADER*/
#header {
    height: 15%;
    float: left;
    width: 70%;
    margin-top: 1%;
    margin-left: 15%;
    margin-right: 15%;
}

#logo {
    float: left;
}

#logo img {
    height: 100%;
    margin: 5px;
}

#sign-in-btn {
    float: right;
    width: 120px;
}

#sign-up-btn {
    clear: both;
    float: right;
    width: 120px;
}

#sign-out-btn {
    clear: both;
    float: right;
    width: 90px;
}

#validateTips-sign-in, #validateTips-sign-up {
    border: 1px solid transparent;
    padding: 0.3em;
}

#menu-fieldset {
    padding: 0;
    border: 0;
    margin-top: 25px;
}

input.text {
    margin-bottom: 12px;
    width: 95%;
    padding: .4em;
}

.ui-dialog .ui-state-error {
    padding: .3em;
}
#success-dialog {
    display: none;
}

#user-menu {
    float: right;
    margin-top: 25px;
}
.user-form {
    display: block;
}


/*MIDDLE*/
/*#tabs { float: left; width: 80%; margin-top: 10px; margin-left: 10%; margin-right: 10%; }*/

.delete-task {
    height: 31px;
    float: right;
    margin-top: 2px;
}
.task-title {
    width: 200px;
    float:left;
}

.head {
    float: left;
}

#top-menu {
    height: 40px;
    margin-top: 4px;
    margin-left: 4px;
    padding-left: 20px;
    padding-right: 20px;
}

#new-entries-btn {
    float: right;
}

.hidden {
    display: none;
}

#content {
    font-size: 1.1em;

    float: left;
    width: 80%;
    min-height: 30%;

    margin-top: 10px;
    margin-left: 10%;

    margin-bottom: 1.5%;

    overflow: hidden;
    text-align: justify;
}

.post {
    font-size: 1.1em;
    margin: 10px;
}

.post-head {
    padding: 5px 10px;
    cursor: pointer;
    position: relative;
    /*background-color:#666;*/
    background-image: url("images/ui-bg_fine-grain_25_444444_60x60.png");
    margin:1px;
    font-size: 1.2em;
    font-weight: bold;
}

.post-body {
    background-image: url("images/ui-bg_fine-grain_25_333333_60x60.png");
    margin-left: 15px;
    margin-right: 15px;
}

#content p {
    margin-left: 15px;
    margin-right: 15px;
}

#content h1 {
    font-size: 150%;
}

.sidebar {
    float: right;
    width: 23.5%;
    height: 300px;
}

.group {
    zoom: 1;
    margin-left: 15px;
    margin-right: 15px;
}

#sources p {
    width: 100%;
}

.dialog-message {
    display:none;
}

#upload {
    padding-left: 20px;
    float: left;
    padding-bottom: 10px;
}
#tasks-list {
    padding-right: 20px;
    float: right;
    padding-bottom: 10px;
}

.ui-resizable-se {
    bottom: 17px;
}

.list-title {
    font-size: 90%;
    font-weight: bold;
    color: #ffc500;
}

.about {
    margin-left: 13.5%;
    margin-right: 13.5%;
}

.checkbox-offset {
    margin-top: 5px;
    width: 95%;
}

/*bottom part*/
#footer { clear: both; display: inline-block; margin-top: 15px; width: 80%; height: 9%; padding: 0.2em; margin-left: 10%; margin-right: 10%; }

#copyright { float: left; width: 20%; }

#links { float: right; width: 20%; text-align: right;}
#links a {margin-left: 4px; float: right;}
