- content_for :page_title do
  DA'n'A / About Project

%h1(class="highlight")
  %p
    About this project
%p
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lacus ipsum, cursus vitae viverra tristique, sodales ac mauris. Sed et quam metus. Aenean mollis enim non nunc pretium quis eleifend mi elementum. Sed quis libero tortor, a facilisis sapien. Maecenas id nulla dolor, ac condimentum tellus. Nunc tincidunt ultricies dui quis dapibus. Donec placerat euismod neque in consectetur. Nullam vel odio eget massa bibendum pulvinar. Aliquam sed augue ac lectus sollicitudin aliquam eu pretium turpis. Integer molestie, tortor sed ultricies molestie, ligula elit tristique ante, sed congue velit ligula sed est. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
%p
  In lectus neque, ullamcorper nec interdum ornare, placerat consectetur elit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce erat ligula, vulputate ut blandit nec, semper sed lectus. Proin vitae tortor mi. Phasellus condimentum semper ipsum eget sagittis. Nulla sem neque, molestie sed accumsan eu, rutrum ut arcu. Praesent a egestas turpis. Maecenas molestie auctor pretium. Phasellus at sem libero.
%p
  Sed tortor lorem, elementum et venenatis sit amet, fermentum sed diam. Aenean molestie hendrerit lacus vitae laoreet. Aenean adipiscing consequat dui, a vulputate metus lobortis ut. Morbi at nunc non augue ullamcorper aliquam eu vitae tortor. Fusce vel nisi id ligula lobortis iaculis eu non odio. Donec a nulla leo, nec ultricies turpis. Pellentesque scelerisque tellus viverra justo malesuada sed laoreet felis rutrum.
%p
  Phasellus pellentesque nulla vitae libero tempor gravida. Sed ac lorem vitae purus ultricies porta at sed metus. Vestibulum ut rutrum nunc. Phasellus sit amet placerat nulla. Cras eu erat et lectus tempor auctor. Integer vestibulum ultrices sodales. Nunc vel velit eu nunc sodales accumsan. In ipsum odio, molestie vitae imperdiet sit amet, porta nec arcu. Mauris id urna elit, sed malesuada nisl. Cras sollicitudin, magna id commodo fringilla, nisi nibh aliquet sem, vitae tincidunt risus mi quis odio. Nulla elementum, eros vitae tempus vehicula, dui magna rutrum odio, ut aliquam enim purus id neque. Morbi mi orci, egestas vitae dapibus quis, consequat at ipsum.
%p
  Fusce interdum vestibulum risus, a gravida ligula tempor sed. Vestibulum semper, eros sed lacinia dignissim, enim massa porttitor leo, a tempor justo nisi vel est. Maecenas tempus aliquam nisl, ac rhoncus magna feugiat sed. Nulla vestibulum placerat enim non pellentesque. Donec felis arcu, iaculis et cursus in, vulputate in mi. Quisque commodo faucibus diam non lobortis. In sollicitudin blandit diam, sit amet scelerisque leo mollis quis. Integer libero est, consequat vel laoreet vitae, tempus id purus. Aliquam lorem nibh, tristique sit amet porta sed, convallis quis quam. Aenean faucibus gravida est, scelerisque ornare massa porta in.
