!!!
-#- @user = 'scepion1d'
%html
  %head
    %title
      = yield :page_title

    %meta{ :charset => "utf-8" }

    = csrf_meta_tag

    = javascript_include_tag 'jquery.js'
    = javascript_include_tag 'rails.js'
    = javascript_include_tag 'jquery-ui.js'
    = javascript_include_tag 'dialogs.js'
    = javascript_include_tag 'buttons.js'
    = javascript_include_tag 'pubnub.js'

    = stylesheet_link_tag 'jquery-ui.css'
    = stylesheet_link_tag 'main.css'

  %body
    /header
    #header
      #logo
        %a( href="/" )
          %img( src="images/logo.png" alt="DA'n'A" )

      #user-menu
        - if @user.nil?
          %button( id="sign-in-btn" class="highlight" )
            Sign in
          /sign in form
          %div( id="sign-in-form" title="Sign in" )
            %p( id="validateTips-sign-in" )
              %form( id="sign-in" action="/user/sign_in" )
                %fieldset( id="menu-fieldset" )
                  %label( class="user-form" for="login" )
                    Login
                  %input( type="text" name="login-sign-in" id="login-sign-in"
                          class="user-form text ui-widget-content ui-corner-all" )
                  %label( class="user-form" for="password" )
                    Password
                  %input( type="password" name="pass-sign-in" id="pass-sign-in"
                          class="user_form text ui-widget-content ui-corner-all" )

          %button( id="sign-up-btn" )
            Sign up
          /sign up form
          %div( id="sign-up-form" title="Sign up" )
            %p( id="validateTips-sign-up" )
              All form fields are required.
            %form( id="sign-up" action="/user/sign_up" )
              %fieldset( id="menu-fieldset" )
                %label( class="user-form" for="login" )
                  Login
                %input( type="text" name="login-sign-up" id="login-sign-up"
                        class="user-form text ui-widget-content ui-corner-all" )
                %label( class="user-form" for="email" )
                  Email
                %input( type="text" name="email-sign-up" id="email-sign-up"
                        class="user-form text ui-widget-content ui-corner-all" )
                %label( class="user-form" for="password" )
                  Password
                %input( type="password" name="pass-sign-up" id="pass-sign-up"
                        class="user-form text ui-widget-content ui-corner-all" )

          %div( id="success-dialog" class="dialog-message" title="Success" )
            %p
              The action completed successfully!

        - else
          %h2
            Hello,
            %span( id="user-name" class="highlight" )
              #{@user}
            !
          %button( id="sign-out-btn" )
            Sign out

    /container
    %div( id="content" class="block-border" )
      - if !@user.nil?
        %div( id="top-menu" )
          %button( id="home-btn" class="menu-btn" )
            Home
          %button( id="feed-btn" class="menu-btn" )
            Feed
          %button( id="tasks-btn" class="menu-btn" )
            Tasks
          - if @page == 'feed'
            %button( id="new-entries-btn" class="" )
              New entries:  0
      = yield

    /footer
    %div( id="footer" class="block-border" )
      %div( id="copyright" class="highlight" )
        © 2012 DA'n'A

      #links
        %a( href="#" )
          Link
        %a( href="#" )
          Another link